{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}
{% block page_styles %}
    <style>
        .list-group-item {
            cursor: pointer;

        }

        .list-group-item:hover {
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container w-75">
        {#  show a list of projects  #}
        <h1 class="mb-4">Projects</h1>
        {#  if projects is empty show no projects to display #}
        {% if projects is empty %}
            <p>No projects to display</p>
        {% else %}
            <h3 class="mb-3">Active Projects</h3>
            <ol class="list-group list-group-numbered mb-3">
                {% for project in projects %}
                    {% if project.active %}
                        <a class="list-group-item d-flex justify-content-between align-items-start" href="#">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ project.name }}</div>
                                <div class="text-muted">{{ project.breif|default('No description') }}</div>
                            </div>

                            <span class="badge bg-primary rounded-pill align-self-center">14</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </ol>
            <h3 class="mb-3">Inactive Projects</h3>
            <ol class="list-group list-group-numbered mb-3">
                {% for project in projects %}
                    {% if not project.active %}
                        <li class="list-group-item d-flex justify-content-between align-items-start text-muted">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ project.name }}</div>
                                <div class="text-muted">{{ project.breif|default('No description') }}</div>
                            </div>

                            <span class="badge bg-warning rounded-pill align-self-center">14</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
