{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="w-50 container-fluid">
        <h1>Reset your password</h1>

        {{ form_start(resetForm) }}

        <div class="mb-3">
            {{ form_row(resetForm.plainPassword) }}
        </div>
        <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
